@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Art Gallery</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Online Art Gallery</h2>
        <p>
            With a mission to create an online marketplace that is simple, secure, 
            and profitable for artists everywhere, Online Art Gallery has been created as
            an application that enable people from all around the globe to lern more about art 
            and discover new masterpieses.
            Also it is an e-commerce application which connects artists with their customers.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Explore and follow your favourite artists</h2>
        <p>You can view a beautiful stylish portrait painting or drawing, a black and
            white photography, an abstract painting, a large modern sculpture for your
            garden or any other work of your liking. Millions of works of art are available
            for you to explore using our intelligent filters, and you will love our expert 
            curated selections!</p>
    </div>
    <div class="col-md-4">
        <h2>Create personal artspace</h2>
        <p>Online Art Gallery offers you exclusive prices on original artworks by emerging and established
            international artists. It is the best place to masterpieces from contemporary
            artists and art galleries around the globe! You can find a collection of the right
            style for you. All arts are represented, much like in a real life venue, a museum or an artist studio,
            except that the choice is unlimited. </p>
    </div>
</div>



